### Analizando la Satisfacción de Clientes en la Industria Hotelera

Requisitos:

Tu tarea es limpiar y explorar un dataset que contiene información sobre la satisfacción de los clientes en la industria hotelera. Este análisis es crucial para los ejecutivos de la empresa que buscan entender mejor las opiniones y experiencias de sus clientes para mejorar los servicios ofrecidos.

Tareas a realizar

Limpieza de datos con Python:

- Detección y eliminación de valores duplicados: Asegúrate de que cada registro en el dataset sea único.
- Verificación y ajuste de tipos de datos: Asegúrate de que todas las columnas coincidan con los tipos de datos indicados en el diccionario de datos.
- Consistencia en valores categóricos: Identifica y corrige cualquier inconsistencia en los valores categóricos (por ejemplo, ‘yes’, ‘Yes’, ‘YES’).
- Manejo de valores faltantes: Identifica y maneja cualquier valor faltante en el dataset. Rellena los valores faltantes con un marcador adecuado para el tipo de dato.
- Detección de datos anómalos: Identifica y corrige cualquier punto de dato inapropiado o inusual (por ejemplo, una estancia de 1000 noches).

Exploración de datos con Python:

- Visualizaciones exploratorias univariadas: Crea dos tipos diferentes de visualizaciones univariadas. Cada visualización debe incluir una breve interpretación dentro del archivo de código.
- Visualizaciones exploratorias multivariadas: Crea dos tipos diferentes de visualizaciones multivariadas. Cada visualización debe incluir una breve interpretación dentro del archivo de código.

Análisis adicional:

- Estadísticas descriptivas: Proporciona un resumen estadístico del dataset, incluyendo medidas de tendencia central y dispersión para las variables numéricas. Identificación de tendencias: Analiza y discute cualquier tendencia notable que observes en los datos, apoyándote en las visualizaciones y estadísticas descriptivas.
- Identificación de tendencias: Analiza y discute cualquier tendencia notable que observes en los datos, apoyándote en las visualizaciones y estadísticas descriptivas.

In [1]:
import pandas as pd
import numpy as np
import time
import matplotlib.pyplot as plt
import json
import re

In [2]:
path = '../data/hotel_bookings.csv'
df = pd.read_csv(filepath_or_buffer=path, sep= ',', header = 0)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

### Limpieza de datos con Python:

### Detección y eliminación de valores duplicados

Asegúrate de que cada registro en el dataset sea único.

In [3]:
# Identificar duplicados
duplicados = df.duplicated()
# Contar el numero de duplicados
num_duplicados = duplicados.sum()
print(f"Número de registros duplicados: {num_duplicados}")
df.head()

Número de registros duplicados: 31994

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [4]:
# Eliminar duplicados
df = df.drop_duplicates()

In [5]:
df.shape

(87396, 32)

### Verificación y ajuste de tipos de datos

Asegúrate de que todas las columnas coincidan con los tipos de datos indicados en el diccionario de datos

In [6]:
df.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

In [7]:
diccionario = {
    'hotel': 'string',
    'is_canceled': 'int64',
    'lead_time': 'int64',
    'arrival_date_year': 'int64',
    'arrival_date_month': 'string',
    'arrival_date_week_number': 'int64',
    'arrival_date_day_of_month': 'int64',
    'stays_in_weekend_nights': 'int64',
    'stays_in_week_nights': 'int64',
    'adults': 'int64',
    'children': 'float64',  
    'babies': 'int64',
    'meal': 'string',
    'country': 'string',
    'market_segment': 'string',
    'distribution_channel': 'string',
    'is_repeated_guest': 'int64',
    'previous_cancellations': 'int64',
    'previous_bookings_not_canceled': 'int64',
    'reserved_room_type': 'string',
    'assigned_room_type': 'string',
    'booking_changes': 'int64',
    'deposit_type': 'string',
    'agent': 'float64',  
    'company': 'float64',  
    'days_in_waiting_list': 'int64',
    'customer_type': 'string',
    'adr': 'float64',
    'required_car_parking_spaces': 'int64',
    'total_of_special_requests': 'int64',
    'reservation_status': 'string',
    'reservation_status_date': 'date'
}
# Función para mapear tipos personalizados a tipos de pandas
def map_tipo(tipo_personalizado):
    mapping = {
        'string': 'string',
        'int64' : 'int64',
        'float64': 'float64',
        'date': 'datetime64[ns]'
    }
    return mapping.get(tipo_personalizado, 'object')  # 'object' como valor por defecto
# Crear un nuevo diccionario mapeado para pandas
diccionario_mapeado = {col: map_tipo(tipo) for col, tipo in diccionario.items()}

print("Diccionario Mapeado para pandas:")
print(diccionario_mapeado)

Diccionario Mapeado para pandas:
{'hotel': 'string', 'is_canceled': 'int64', 'lead_time': 'int64', 'arrival_date_year': 'int64', 'arrival_date_month': 'string', 'arrival_date_week_number': 'int64', 'arrival_date_day_of_month': 'int64', 'stays_in_weekend_nights': 'int64', 'stays_in_week_nights': 'int64', 'adults': 'int64', 'children': 'float64', 'babies': 'int64', 'meal': 'string', 'country': 'string', 'market_segment': 'string', 'distribution_channel': 'string', 'is_repeated_guest': 'int64', 'previous_cancellations': 'int64', 'previous_bookings_not_canceled': 'int64', 'reserved_room_type': 'string', 'assigned_room_type': 'string', 'booking_changes': 'int64', 'deposit_type': 'string', 'agent': 'float64', 'company': 'float64', 'days_in_waiting_list': 'int64', 'customer_type': 'string', 'adr': 'float64', 'required_car_parking_spaces': 'int64', 'total_of_special_requests': 'int64', 'reservation_status': 'string', 'reservation_status_date': 'datetime64[ns]'}

In [8]:
def validar_tipos(df, diccionario):
    """
    Valida que cada columna en df tenga el tipo de dato especificado en diccionario.
    
    Parámetros:
    - df: DataFrame de pandas.
    - diccionario: Diccionario con columnas como llaves y tipos de datos como valores.
    
    Retorna:
    - mismatches: Lista de tuplas con (columna, tipo_actual, tipo_esperado) para discrepancias.
    """
    mismatches = []
    for columna, tipo_esperado in diccionario.items():
        if columna in df.columns:
            tipo_actual = str(df[columna].dtype)
            # Algunos dtypes pueden ser equivalentes pero diferentes en nombre
            # Por ejemplo, 'string' en pandas puede ser 'string[python]'
            # Comparar solo las partes relevantes
            if tipo_esperado.startswith('datetime') and tipo_actual.startswith('datetime'):
                continue  # Considerar igual si ambos son datetime
            elif tipo_actual != tipo_esperado:
                mismatches.append((columna, tipo_actual, tipo_esperado))
        else:
            mismatches.append((columna, 'No existe en el DataFrame', tipo_esperado))
    return mismatches

# Ejecutar la validación
mismatches = validar_tipos(df, diccionario_mapeado)

# Mostrar resultados
if not mismatches:
    print("Todos los tipos de datos son correctos.")
else:
    print("Discrepancias encontradas en los tipos de datos:")
    for columna, actual, esperado in mismatches:
        print(f"- Columna '{columna}': Tipo actual -> {actual}, Tipo esperado -> {esperado}")

Discrepancias encontradas en los tipos de datos:
- Columna 'hotel': Tipo actual -> object, Tipo esperado -> string
- Columna 'arrival_date_month': Tipo actual -> object, Tipo esperado -> string
- Columna 'meal': Tipo actual -> object, Tipo esperado -> string
- Columna 'country': Tipo actual -> object, Tipo esperado -> string
- Columna 'market_segment': Tipo actual -> object, Tipo esperado -> string
- Columna 'distribution_channel': Tipo actual -> object, Tipo esperado -> string
- Columna 'reserved_room_type': Tipo actual -> object, Tipo esperado -> string
- Columna 'assigned_room_type': Tipo actual -> object, Tipo esperado -> string
- Columna 'deposit_type': Tipo actual -> object, Tipo esperado -> string
- Columna 'customer_type': Tipo actual -> object, Tipo esperado -> string
- Columna 'reservation_status': Tipo actual -> object, Tipo esperado -> string
- Columna 'reservation_status_date': Tipo actual -> object, Tipo esperado -> datetime64[ns]

In [9]:
def corregir_tipos(df, diccionario):
    """
    Corrige los tipos de datos de las columnas en df según lo especificado en diccionario.
    
    Parámetros:
    - df: DataFrame de pandas.
    - diccionario: Diccionario con columnas como llaves y tipos de datos como valores.
    
    Retorna:
    - df: DataFrame con tipos de datos corregidos.
    """
    for columna, tipo in diccionario.items():
        if columna in df.columns:
            try:
                if tipo == 'datetime64[ns]':
                    df[columna] = pd.to_datetime(df[columna], errors='coerce')
                else:
                    df[columna] = df[columna].astype(tipo)
            except Exception as e:
                print(f"Error al convertir la columna '{columna}' a '{tipo}': {e}")
    return df

# Corregir los tipos de datos
df = corregir_tipos(df, diccionario_mapeado)

# Volver a validar
mismatches_post = validar_tipos(df, diccionario_mapeado)

# Mostrar resultados después de la corrección
if not mismatches_post:
    print("Todos los tipos de datos han sido corregidos correctamente.")
else:
    print("Aún existen discrepancias después de la corrección:")
    for columna, actual, esperado in mismatches_post:
        print(f"- Columna '{columna}': Tipo actual -> {actual}, Tipo esperado -> {esperado}")

Todos los tipos de datos han sido corregidos correctamente.

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 87396 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           87396 non-null  string
 1   is_canceled                     87396 non-null  int64
 2   lead_time                       87396 non-null  int64
 3   arrival_date_year               87396 non-null  int64
 4   arrival_date_month              87396 non-null  string
 5   arrival_date_week_number        87396 non-null  int64
 6   arrival_date_day_of_month       87396 non-null  int64
 7   stays_in_weekend_nights         87396 non-null  int64
 8   stays_in_week_nights            87396 non-null  int64
 9   adults                          87396 non-null  int64
 10  children                        87392 non-null  float64
 11  babies                          87396 non-null  int64
 12  meal                            87396 non-null  string
 13  country                         86944 non-null  string
 14  market_segment                  87396 non-null  string
 15  distribution_channel            87396 non-null  string
 16  is_repeated_guest               87396 non-null  int64
 17  previous_cancellations          87396 non-null  int64
 18  previous_bookings_not_canceled  87396 non-null  int64
 19  reserved_room_type              87396 non-null  string
 20  assigned_room_type              87396 non-null  string
 21  booking_changes                 87396 non-null  int64
 22  deposit_type                    87396 non-null  string
 23  agent                           75203 non-null  float64
 24  company                         5259 non-null   float64
 25  days_in_waiting_list            87396 non-null  int64
 26  customer_type                   87396 non-null  string
 27  adr                             87396 non-null  float64
 28  required_car_parking_spaces     87396 non-null  int64
 29  total_of_special_requests       87396 non-null  int64
 30  reservation_status              87396 non-null  string
 31  reservation_status_date         87396 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(16), string(11)
memory usage: 22.0 MB

### Consistencia en valores categoricos

Consistencia en valores categóricos: Identifica y corrige cualquier inconsistencia en los valores categóricos (por ejemplo, ‘yes’, ‘Yes’, ‘YES’).

In [11]:
qsna=df.shape[0]-df.isnull().sum(axis=0)
qna=df.isnull().sum(axis=0)
ppna=round(100*(df.isnull().sum(axis=0)/df.shape[0]),2)
aux= {'datos sin NAs en q': qsna, 'Na en q': qna ,'Na en %': ppna}
na=pd.DataFrame(data=aux)
na.sort_values(by='Na en %',ascending=False)

                                datos sin NAs en q  Na en q  Na en %
company                                       5259    82137    93.98
agent                                        75203    12193    13.95
country                                      86944      452     0.52
hotel                                        87396        0     0.00
previous_cancellations                       87396        0     0.00
reservation_status                           87396        0     0.00
total_of_special_requests                    87396        0     0.00
required_car_parking_spaces                  87396        0     0.00
adr                                          87396        0     0.00
customer_type                                87396        0     0.00
days_in_waiting_list                         87396        0     0.00
deposit_type                                 87396        0     0.00
booking_changes                              87396        0     0.00
assigned_room_type                           87396        0     0.00
reserved_room_type                           87396        0     0.00
previous_bookings_not_canceled               87396        0     0.00
is_repeated_guest                            87396        0     0.00
is_canceled                                  87396        0     0.00
distribution_channel                         87396        0     0.00
market_segment                               87396        0     0.00
meal                                         87396        0     0.00
babies                                       87396        0     0.00
children                                     87392        4     0.00
adults                                       87396        0     0.00
stays_in_week_nights                         87396        0     0.00
stays_in_weekend_nights                      87396        0     0.00
arrival_date_day_of_month                    87396        0     0.00
arrival_date_week_number                     87396        0     0.00
arrival_date_month                           87396        0     0.00
arrival_date_year                            87396        0     0.00
lead_time                                    87396        0     0.00
reservation_status_date                      87396        0     0.00

In [12]:
# Lista de columnas categoricas
categorical_cols = df.select_dtypes(include=['string']).columns
# Diccionario para almacenar los valores únicos
valores_unicos = {}
for col in categorical_cols:
    unique_vals = df[col].dropna().unique().tolist()  # Eliminar NaN y convertir a lista
    valores_unicos[col] = unique_vals
    print(f"\nValores únicos en la columna '{col}':")
    print(unique_vals)
# Ruta donde se guardará el archivo JSON
ruta_json = '../data/valores_unicos_iniciales.json'
# Guardar el diccionario en un archivo JSON
with open(ruta_json, 'w', encoding='utf-8') as f:
    json.dump(valores_unicos, f, ensure_ascii=False, indent=4)
    print(f"\nValores únicos guardados en '{ruta_json}'")

Valores únicos en la columna 'hotel':
['Resort Hotel', 'City Hotel']

Valores únicos en la columna 'arrival_date_month':
['July', 'August', 'September', 'October', 'November', 'December', 'January', 'February', 'March', 'April', 'May', 'June']

Valores únicos en la columna 'meal':
['BB', 'FB', 'HB', 'SC', 'Undefined']

Valores únicos en la columna 'country':
['PRT', 'GBR', 'USA', 'ESP', 'IRL', 'FRA', 'ROU', 'NOR', 'OMN', 'ARG', 'POL', 'DEU', 'BEL', 'CHE', 'CN', 'GRC', 'ITA', 'NLD', 'DNK', 'RUS', 'SWE', 'AUS', 'EST', 'CZE', 'BRA', 'FIN', 'MOZ', 'BWA', 'LUX', 'SVN', 'ALB', 'IND', 'CHN', 'MEX', 'MAR', 'UKR', 'SMR', 'LVA', 'PRI', 'SRB', 'CHL', 'AUT', 'BLR', 'LTU', 'TUR', 'ZAF', 'AGO', 'ISR', 'CYM', 'ZMB', 'CPV', 'ZWE', 'DZA', 'KOR', 'CRI', 'HUN', 'ARE', 'TUN', 'JAM', 'HRV', 'HKG', 'IRN', 'GEO', 'AND', 'GIB', 'URY', 'JEY', 'CAF', 'CYP', 'COL', 'GGY', 'KWT', 'NGA', 'MDV', 'VEN', 'SVK', 'FJI', 'KAZ', 'PAK', 'IDN', 'LBN', 'PHL', 'SEN', 'SYC', 'AZE', 'BHR', 'NZL', 'THA', 'DOM', 'MKD', 'MYS', 'ARM', 'JPN', 'LKA', 'CUB', 'CMR', 'BIH', 'MUS', 'COM', 'SUR', 'UGA', 'BGR', 'CIV', 'JOR', 'SYR', 'SGP', 'BDI', 'SAU', 'VNM', 'PLW', 'QAT', 'EGY', 'PER', 'MLT', 'MWI', 'ECU', 'MDG', 'ISL', 'UZB', 'NPL', 'BHS', 'MAC', 'TGO', 'TWN', 'DJI', 'STP', 'KNA', 'ETH', 'IRQ', 'HND', 'RWA', 'KHM', 'MCO', 'BGD', 'IMN', 'TJK', 'NIC', 'BEN', 'VGB', 'TZA', 'GAB', 'GHA', 'TMP', 'GLP', 'KEN', 'LIE', 'GNB', 'MNE', 'UMI', 'MYT', 'FRO', 'MMR', 'PAN', 'BFA', 'LBY', 'MLI', 'NAM', 'BOL', 'PRY', 'BRB', 'ABW', 'AIA', 'SLV', 'DMA', 'PYF', 'GUY', 'LCA', 'ATA', 'GTM', 'ASM', 'MRT', 'NCL', 'KIR', 'SDN', 'ATF', 'SLE', 'LAO']

Valores únicos en la columna 'market_segment':
['Direct', 'Corporate', 'Online TA', 'Offline TA/TO', 'Complementary', 'Groups', 'Undefined', 'Aviation']

Valores únicos en la columna 'distribution_channel':
['Direct', 'Corporate', 'TA/TO', 'Undefined', 'GDS']

Valores únicos en la columna 'reserved_room_type':
['C', 'A', 'D', 'E', 'G', 'F', 'H', 'L', 'P', 'B']

Valores únicos en la columna 'assigned_room_type':
['C', 'A', 'D', 'E', 'G', 'F', 'I', 'B', 'H', 'P', 'L', 'K']

Valores únicos en la columna 'deposit_type':
['No Deposit', 'Refundable', 'Non Refund']

Valores únicos en la columna 'customer_type':
['Transient', 'Contract', 'Transient-Party', 'Group']

Valores únicos en la columna 'reservation_status':
['Check-Out', 'Canceled', 'No-Show']

Valores únicos guardados en '../data/valores_unicos_iniciales.json'

In [13]:
def limpiar_cadena(cadena):
    """
    Limpia una cadena de texto realizando las siguientes operaciones:
    1. Convierte todo el texto a minúsculas.
    2. Elimina caracteres no imprimibles antes de la primera letra y después de la última letra,
       pero mantiene los caracteres internos.
    
    Parámetros:
    - cadena (str): La cadena de texto a limpiar.
    
    Retorna:
    - str: La cadena limpia.
    """
    if isinstance(cadena, str):
        # 1. Convertir todo a minúsculas
        cadena = cadena.lower()
        
        # 2. Eliminar caracteres no imprimibles antes de la primera letra y después de la última letra
        # Buscar la posición de la primera letra (a-z)
        primer_letra = re.search(r'[a-z]', cadena)
        # Buscar la posición de la última letra (a-z)
        ultima_letra = re.search(r'[a-z](?!.*[a-z])', cadena)
        
        if primer_letra and ultima_letra:
            inicio = primer_letra.start()
            fin = ultima_letra.end()
            cadena = cadena[inicio:fin]
        else:
            # Si no se encuentran letras, eliminar espacios en blanco
            cadena = cadena.strip()
        
        return cadena
    return cadena


# Aplicar la limpieza a las columnas categóricas
for col in categorical_cols:
    df[col] = df[col].apply(limpiar_cadena)
# Verificar los cambios
for col in categorical_cols:
    print(f"\nValores únicos después de limpieza en '{col}':")
    print(df[col].unique())

Valores únicos después de limpieza en 'hotel':
['resort hotel' 'city hotel']

Valores únicos después de limpieza en 'arrival_date_month':
['july' 'august' 'september' 'october' 'november' 'december' 'january'
 'february' 'march' 'april' 'may' 'june']

Valores únicos después de limpieza en 'meal':
['bb' 'fb' 'hb' 'sc' 'undefined']

Valores únicos después de limpieza en 'country':
['prt' 'gbr' 'usa' 'esp' 'irl' 'fra' <NA> 'rou' 'nor' 'omn' 'arg' 'pol'
 'deu' 'bel' 'che' 'cn' 'grc' 'ita' 'nld' 'dnk' 'rus' 'swe' 'aus' 'est'
 'cze' 'bra' 'fin' 'moz' 'bwa' 'lux' 'svn' 'alb' 'ind' 'chn' 'mex' 'mar'
 'ukr' 'smr' 'lva' 'pri' 'srb' 'chl' 'aut' 'blr' 'ltu' 'tur' 'zaf' 'ago'
 'isr' 'cym' 'zmb' 'cpv' 'zwe' 'dza' 'kor' 'cri' 'hun' 'are' 'tun' 'jam'
 'hrv' 'hkg' 'irn' 'geo' 'and' 'gib' 'ury' 'jey' 'caf' 'cyp' 'col' 'ggy'
 'kwt' 'nga' 'mdv' 'ven' 'svk' 'fji' 'kaz' 'pak' 'idn' 'lbn' 'phl' 'sen'
 'syc' 'aze' 'bhr' 'nzl' 'tha' 'dom' 'mkd' 'mys' 'arm' 'jpn' 'lka' 'cub'
 'cmr' 'bih' 'mus' 'com' 'sur' 'uga' 'bgr' 'civ' 'jor' 'syr' 'sgp' 'bdi'
 'sau' 'vnm' 'plw' 'qat' 'egy' 'per' 'mlt' 'mwi' 'ecu' 'mdg' 'isl' 'uzb'
 'npl' 'bhs' 'mac' 'tgo' 'twn' 'dji' 'stp' 'kna' 'eth' 'irq' 'hnd' 'rwa'
 'khm' 'mco' 'bgd' 'imn' 'tjk' 'nic' 'ben' 'vgb' 'tza' 'gab' 'gha' 'tmp'
 'glp' 'ken' 'lie' 'gnb' 'mne' 'umi' 'myt' 'fro' 'mmr' 'pan' 'bfa' 'lby'
 'mli' 'nam' 'bol' 'pry' 'brb' 'abw' 'aia' 'slv' 'dma' 'pyf' 'guy' 'lca'
 'ata' 'gtm' 'asm' 'mrt' 'ncl' 'kir' 'sdn' 'atf' 'sle' 'lao']

Valores únicos después de limpieza en 'market_segment':
['direct' 'corporate' 'online ta' 'offline ta/to' 'complementary' 'groups'
 'undefined' 'aviation']

Valores únicos después de limpieza en 'distribution_channel':
['direct' 'corporate' 'ta/to' 'undefined' 'gds']

Valores únicos después de limpieza en 'reserved_room_type':
['c' 'a' 'd' 'e' 'g' 'f' 'h' 'l' 'p' 'b']

Valores únicos después de limpieza en 'assigned_room_type':
['c' 'a' 'd' 'e' 'g' 'f' 'i' 'b' 'h' 'p' 'l' 'k']

Valores únicos después de limpieza en 'deposit_type':
['no deposit' 'refundable' 'non refund']

Valores únicos después de limpieza en 'customer_type':
['transient' 'contract' 'transient-party' 'group']

Valores únicos después de limpieza en 'reservation_status':
['check-out' 'canceled' 'no-show']

In [14]:
# Guardar los valores únicos en un archivo JSON para referencia
valores_unicos = {}
for col in categorical_cols:
    unique_vals = df[col].dropna().unique().tolist()
    valores_unicos[col] = unique_vals
# Guardar en 'valores_unicos.json'
with open('../data/valores_unicos_finales.json', 'w', encoding='utf-8') as f:
    json.dump(valores_unicos, f, ensure_ascii=False, indent=4)
    print("Valores únicos guardados en 'valores_unicos.json'.")

Valores únicos guardados en 'valores_unicos.json'.

### Manejo de valores faltantes
Identifica y maneja cualquier valor faltante en el dataset. Rellena los valores faltantes con un marcador adecuado para el tipo de dato

In [16]:
qsna=df.shape[0]-df.isnull().sum(axis=0)
qna=df.isnull().sum(axis=0)
ppna=round(100*(df.isnull().sum(axis=0)/df.shape[0]),2)
aux= {'datos sin NAs en q': qsna, 'Na en q': qna ,'Na en %': ppna}
na=pd.DataFrame(data=aux)
na.sort_values(by='Na en %',ascending=False)

                                datos sin NAs en q  Na en q  Na en %
company                                       5259    82137    93.98
agent                                        75203    12193    13.95
country                                      86944      452     0.52
hotel                                        87396        0     0.00
previous_cancellations                       87396        0     0.00
reservation_status                           87396        0     0.00
total_of_special_requests                    87396        0     0.00
required_car_parking_spaces                  87396        0     0.00
adr                                          87396        0     0.00
customer_type                                87396        0     0.00
days_in_waiting_list                         87396        0     0.00
deposit_type                                 87396        0     0.00
booking_changes                              87396        0     0.00
assigned_room_type                           87396        0     0.00
reserved_room_type                           87396        0     0.00
previous_bookings_not_canceled               87396        0     0.00
is_repeated_guest                            87396        0     0.00
is_canceled                                  87396        0     0.00
distribution_channel                         87396        0     0.00
market_segment                               87396        0     0.00
meal                                         87396        0     0.00
babies                                       87396        0     0.00
children                                     87392        4     0.00
adults                                       87396        0     0.00
stays_in_week_nights                         87396        0     0.00
stays_in_weekend_nights                      87396        0     0.00
arrival_date_day_of_month                    87396        0     0.00
arrival_date_week_number                     87396        0     0.00
arrival_date_month                           87396        0     0.00
arrival_date_year                            87396        0     0.00
lead_time                                    87396        0     0.00
reservation_status_date                      87396        0     0.00

Identificar métricas con las cuales podemos hacer imputación

In [18]:
# Definir las columnas categóricas y numéricas
# Columnas categóricas (dtype == 'object' o 'string')
categorical_cols = df.select_dtypes(include=['object', 'string']).columns.tolist()

# Columnas numéricas (dtype == 'int64' o 'float64')
numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns.tolist()

# Filtrar el DataFrame para incluir solo filas sin valores faltantes en las columnas categóricas y numéricas
df_filtered = df.dropna(subset=categorical_cols + numeric_cols)

# Mostrar cuántas filas fueron eliminadas
num_original = df.shape[0]
num_filtrado = df_filtered.shape[0]
print(f"Filas originales: {num_original}")
print(f"Filas después de filtrar valores faltantes: {num_filtrado}")
print(f"Filas eliminadas: {num_original - num_filtrado}")

# Agrupar por las columnas categóricas y calcular la media, std, median y count para las columnas numéricas
grouped_df = df_filtered.groupby(categorical_cols)[numeric_cols].agg(['mean', 'std', 'median', 'count'])

# Aplanar el MultiIndex de las columnas resultantes
grouped_df.columns = ['_'.join(col).strip() for col in grouped_df.columns.values]

# Restablecer el índice para convertir las columnas categóricas de nuevo en columnas normales
grouped_df = grouped_df.reset_index()

# Calcular el coeficiente de variación para cada variable numérica
for col in numeric_cols:
    std_col = f"{col}_std"
    mean_col = f"{col}_mean"
    cv_col = f"{col}_cv"
    # Evitar división por cero
    grouped_df[cv_col] = grouped_df[std_col] / grouped_df[mean_col].replace({0: pd.NA})

# Reemplazar NaN en coeficiente de variación con 0 o algún otro valor si es necesario
grouped_df.fillna({f'{col}_cv': 0 for col in numeric_cols}, inplace=True)

# Guardar el DataFrame agrupado como un archivo CSV (si deseas guardar los resultados)
grouped_df.to_csv('estadisticas_agrupadas_sin_NA.csv', index=False)
print("\nEstadísticas agrupadas guardadas en 'estadisticas_agrupadas_sin_NA.csv'.")

# Mostrar las primeras filas del DataFrame agrupado
print("\nPrimeras filas del DataFrame agrupado:")
print(grouped_df.head())

Filas originales: 87396
Filas después de filtrar valores faltantes: 189
Filas eliminadas: 87207

Estadísticas agrupadas guardadas en 'estadisticas_agrupadas_sin_NA.csv'.

Primeras filas del DataFrame agrupado:
        hotel arrival_date_month meal country market_segment  \
0  city hotel             august   bb     fra      online ta
1  city hotel             august   bb     fra      online ta
2  city hotel             august   bb     fra      online ta
3  city hotel             august   bb     ita      online ta
4  city hotel             august   bb     prt      online ta

  distribution_channel reserved_room_type assigned_room_type deposit_type  \
0                ta/to                  a                  a   no deposit
1                ta/to                  a                  a   no deposit
2                ta/to                  a                  d   no deposit
3                ta/to                  a                  a   no deposit
4                ta/to                  a                  a   no deposit

  customer_type  ... is_repeated_guest_cv  previous_cancellations_cv  \
0      contract  ...                  0.0                        0.0
1     transient  ...                  0.0                        0.0
2     transient  ...                  0.0                        0.0
3     transient  ...                  0.0                        0.0
4     transient  ...                  0.0                        0.0

   previous_bookings_not_canceled_cv  booking_changes_cv  agent_cv  \
0                                0.0                 0.0       0.0
1                                0.0                 0.0       0.0
2                                0.0                 0.0       0.0
3                                0.0                 0.0       0.0
4                                0.0                 0.0       0.0

   company_cv  days_in_waiting_list_cv  adr_cv  \
0         0.0                        0     0.0
1         0.0                        0     0.0
2         0.0                        0     0.0
3         0.0                        0     0.0
4         0.0                        0     0.0

   required_car_parking_spaces_cv  total_of_special_requests_cv
0                             0.0                           0.0
1                             0.0                           0.0
2                             0.0                           0.0
3                             0.0                           0.0
4                             0.0                           0.0

[5 rows x 111 columns]

C:\Users\Gonzalo\AppData\Local\Temp\ipykernel_13656\1388574220.py:36: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  grouped_df.fillna({f'{col}_cv': 0 for col in numeric_cols}, inplace=True)